<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>


    <div id="app">
        <p v-text="message"></p>
        <button @click="todo.push(item)" class="btn btn-info">Add!</button>
        <input type="text" v-model='item'>
        <ul>
            <li v-for="say in todo" v-text="say"></li>
        </ul>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                message: 'What ToDo?',
                item:'',
                todo:[
                "hello","hams","athan"
            ]
            }
        })
    </script>
</body>

</html>